In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json

## 颱風歷史資料

In [3]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36",
    "Cookie": "PHPSESSID=ck51k725hgodfmfd7cbi4b0ks4; _gid=GA1.3.1183769150.1622787669; _ga=GA1.3.25450972.1620709885; _ga_K6HENP0XVS=GS1.1.1622787669.3.1.1622787695.0; TS01b0fe7f=0107dddfefcf72bbe6298d9f6067078ff9f4c14164221cb96410f497cf4481230f20f5073ca7ae71a4a5fe265de60a5c20c91db504",
    "X-Requested-With": "XMLHttpRequest"}

### 善用XHR來獲取資料
<img src='./image/XHR requests.jpg' width=800 height=600>

In [4]:
url = "https://rdc28.cwb.gov.tw/TDB/public/warning_typhoon_list/get_warning_typhoon"
ss = requests.session()
res = ss.post(url, headers=headers)

In [5]:
# 除去導致無法轉換成json的東西
data = res.text[1:]

<img src='./image/index0.jpg' width=400 height=100>

In [6]:
json_data = json.loads(data)

### 將json格式轉成dataframe => pd.json_normalize()

In [7]:
df = pd.json_normalize(json_data)

In [8]:
df

,id,cht_name,eng_name,official_path_category,sea_start_datetime,max_intensity,min_pressure,max_wind_speed,max_range7,max_range10,sea_end_datetime,warning_count
0,202103,彩雲,CHOI-WAN,,2021-06-03 16:00:00,w,995,20,100,,2021-06-04 20:30:00,11
1,202020,閃電,ATSANI,5,2020-11-05 08:30:00,w,982,28,120,,2020-11-07 14:30:00,19
2,202008,巴威,BAVI,,2020-08-22 10:30:00,w,945,43,220,80,2020-08-22 23:30:00,6
3,202006,米克拉,MEKKHALA,,2020-08-10 10:30:00,w,992,23,120,,2020-08-11 14:30:00,11
4,202004,哈格比,HAGUPIT,,2020-08-02 05:30:00,m,978,33,100,40,2020-08-03 23:30:00,15
...,...,...,...,...,...,...,...,...,...,...,...,...
429,195814,海倫,HELEN,,1958-09-12 00:00:00,s,920,55,300,,1958-09-15 12:00:00,8
430,195813,葛瑞絲,GRACE,1,1958-09-01 12:00:00,s,910,75,350,,1958-09-04 23:00:00,13
431,195807,溫妮,WINNIE,3,1958-07-13 12:00:00,s,925,50,350,,1958-07-17 00:00:00,12
432,195805,蒂絲,TESS,,1958-07-05 00:00:00,m,995,30,150,,1958-07-06 00:00:00,3
433,194901,卡門,CARMEN,,1949-01-11 05:00:00,,,,,,1949-01-15 06:00:00,

In [9]:
df_test = df.head(20)

In [10]:
df_test

,id,cht_name,eng_name,official_path_category,sea_start_datetime,max_intensity,min_pressure,max_wind_speed,max_range7,max_range10,sea_end_datetime,warning_count
0,202103,彩雲,CHOI-WAN,,2021-06-03 16:00:00,w,995,20,100,,2021-06-04 20:30:00,11
1,202020,閃電,ATSANI,5,2020-11-05 08:30:00,w,982,28,120,,2020-11-07 14:30:00,19
2,202008,巴威,BAVI,,2020-08-22 10:30:00,w,945,43,220,80,2020-08-22 23:30:00,6
3,202006,米克拉,MEKKHALA,,2020-08-10 10:30:00,w,992,23,120,,2020-08-11 14:30:00,11
4,202004,哈格比,HAGUPIT,,2020-08-02 05:30:00,m,978,33,100,40,2020-08-03 23:30:00,15
5,202001,黃蜂,VONGFONG,,2020-05-16 11:30:00,m,948,43,150,50,2020-05-17 08:30:00,8
6,201918,米塔,MITAG,6,2019-09-29 08:30:00,m,960,38,180,60,2019-10-01 11:30:00,18
7,201911,白鹿,BAILU,4,2019-08-23 05:30:00,w,975,30,150,50,2019-08-25 11:30:00,19
8,201909,利奇馬,LEKIMA,1,2019-08-07 17:30:00,s,915,53,280,100,2019-08-10 08:30:00,22
9,201905,丹娜絲,DANAS,,2019-07-16 23:30:00,w,988,23,150,,2019-07-18 17:30:00,15
10,201822,山竹,MANGKHUT,,2018-09-14 11:30:00,s,895,60,320,120,2018-09-15 20:30:00,12
11,201808,瑪莉亞,MARIA,1,2018-07-09 14:30:00,s,915,55,280,100,2018-07-11 14:30:00,17
12,201718,泰利,TALIM,,2017-09-12 14:30:00,m,935,48,250,80,2017-09-14 20:30:00,19
13,201717,谷超,GUCHOL,,2017-09-06 10:30:00,w,998,18,80,,2017-09-07 02:30:00,7
14,201713,天鴿,HATO,,2017-08-20 23:30:00,m,965,33,180,50,2017-08-22 17:30:00,15
15,201710,海棠,HAITANG,7,2017-07-29 17:30:00,w,990,20,100,,2017-07-31 08:30:00,14
16,201709,尼莎,NESAT,2,2017-07-28 08:30:00,m,955,40,180,60,2017-07-30 14:30:00,19
17,201619,艾利,AERE,,2016-10-05 11:30:00,w,998,18,120,,2016-10-06 14:30:00,10
18,201617,梅姬,MEGI,3,2016-09-25 23:30:00,m,940,45,250,100,2016-09-28 17:30:00,23
19,201616,馬勒卡,MALAKAS,,2016-09-15 23:30:00,m,940,45,180,60,2016-09-18 08:30:00,20

In [11]:
df_test.columns

Index(['id', 'cht_name', 'eng_name', 'official_path_category',
       'sea_start_datetime', 'max_intensity', 'min_pressure', 'max_wind_speed',
       'max_range7', 'max_range10', 'sea_end_datetime', 'warning_count'],
      dtype='object')

In [12]:
cols = ['min_pressure', 'max_wind_speed', 'max_range7']
df_test[cols] = df_test[cols].apply(pd.to_numeric)

C:\Users\Tibame\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [13]:
df_test.dtypes

id                        object
cht_name                  object
eng_name                  object
official_path_category    object
sea_start_datetime        object
max_intensity             object
min_pressure               int64
max_wind_speed             int64
max_range7                 int64
max_range10               object
sea_end_datetime          object
warning_count             object
dtype: object

In [14]:
df_test.iloc[1].to_json(orient="records")

'["202020","\\u9583\\u96fb","ATSANI","5","2020-11-05 08:30:00","w",982,28,120,"","2020-11-07 14:30:00","19"]'

In [18]:
df_test.loc[df["id"]=="202020"].to_json(orient="records")

'[{"id":"202020","cht_name":"\\u9583\\u96fb","eng_name":"ATSANI","official_path_category":"5","sea_start_datetime":"2020-11-05 08:30:00","max_intensity":"w","min_pressure":982,"max_wind_speed":28,"max_range7":120,"max_range10":"","sea_end_datetime":"2020-11-07 14:30:00","warning_count":"19"}]'

In [ ]:
json_data = pd.read_csv("颱風歷史資料(only發布警報).csv", encoding="")

### 重設欄位名稱

<img src="./image/columns.jpg">

In [ ]:
col_text = "年份	颱風編號	颱風名稱	侵臺路徑分類	警報期間	近臺強度	近臺最低氣壓(hPa)	近臺最大風速(m/s)	近臺7級風暴風半徑(km)	近臺10級風暴風半徑(km)	警報發布報數"

In [ ]:
cols = col_text.split("\t")
cols

In [ ]:
cols = ['颱風編號',
 '中文名稱',
 '英文名稱',
 '侵臺路徑分類',
 '海上警報開始時間',
 '近臺強度',
 '近臺最低氣壓(hPa)',
 '近臺最大風速(m/s)',
 '近臺7級風暴風半徑(km)',
 '近臺10級風暴風半徑(km)',
 '海上警報結束時間',       
 '警報發布報數']

df.columns = cols
df

### 轉成csv檔

In [19]:
df.to_csv("颱風歷史資料(only發布警報).csv", index=False)