In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json

## 颱風歷史資料

In [2]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36",
    "Cookie": "PHPSESSID=ck51k725hgodfmfd7cbi4b0ks4; _gid=GA1.3.1183769150.1622787669; _ga=GA1.3.25450972.1620709885; _ga_K6HENP0XVS=GS1.1.1622787669.3.1.1622787695.0; TS01b0fe7f=0107dddfefcf72bbe6298d9f6067078ff9f4c14164221cb96410f497cf4481230f20f5073ca7ae71a4a5fe265de60a5c20c91db504",
    "X-Requested-With": "XMLHttpRequest"}

### 善用XHR來獲取資料
<img src='./image/XHR requests.jpg' width=800 height=600>

In [3]:
url = "https://rdc28.cwb.gov.tw/TDB/public/warning_typhoon_list/get_warning_typhoon"
ss = requests.session()
res = ss.post(url, headers=headers)

In [4]:
# 除去導致無法轉換成json的東西
data = res.text[1:]

<img src='./image/index0.jpg' width=400 height=100>

In [5]:
json_data = json.loads(data)

### 將json格式轉成dataframe => pd.json_normalize()

In [6]:
df = pd.json_normalize(json_data)

In [7]:
df

,id,cht_name,eng_name,official_path_category,sea_start_datetime,max_intensity,min_pressure,max_wind_speed,max_range7,max_range10,sea_end_datetime,warning_count
0,202103,彩雲,CHOI-WAN,,2021-06-03 16:00:00,w,995,20,100,,2021-06-04 20:30:00,11
1,202020,閃電,ATSANI,5,2020-11-05 08:30:00,w,982,28,120,,2020-11-07 14:30:00,19
2,202008,巴威,BAVI,,2020-08-22 10:30:00,w,945,43,220,80,2020-08-22 23:30:00,6
3,202006,米克拉,MEKKHALA,,2020-08-10 10:30:00,w,992,23,120,,2020-08-11 14:30:00,11
4,202004,哈格比,HAGUPIT,,2020-08-02 05:30:00,m,978,33,100,40,2020-08-03 23:30:00,15
...,...,...,...,...,...,...,...,...,...,...,...,...
429,195814,海倫,HELEN,,1958-09-12 00:00:00,s,920,55,300,,1958-09-15 12:00:00,8
430,195813,葛瑞絲,GRACE,1,1958-09-01 12:00:00,s,910,75,350,,1958-09-04 23:00:00,13
431,195807,溫妮,WINNIE,3,1958-07-13 12:00:00,s,925,50,350,,1958-07-17 00:00:00,12
432,195805,蒂絲,TESS,,1958-07-05 00:00:00,m,995,30,150,,1958-07-06 00:00:00,3
433,194901,卡門,CARMEN,,1949-01-11 05:00:00,,,,,,1949-01-15 06:00:00,

### 重設欄位名稱

<img src="./image/columns.jpg">

In [ ]:
col_text = "年份	颱風編號	颱風名稱	侵臺路徑分類	警報期間	近臺強度	近臺最低氣壓(hPa)	近臺最大風速(m/s)	近臺7級風暴風半徑(km)	近臺10級風暴風半徑(km)	警報發布報數"

In [ ]:
cols = col_text.split("\t")
cols

In [ ]:
cols = ['颱風編號',
 '中文名稱',
 '英文名稱',
 '侵臺路徑分類',
 '海上警報開始時間',
 '近臺強度',
 '近臺最低氣壓(hPa)',
 '近臺最大風速(m/s)',
 '近臺7級風暴風半徑(km)',
 '近臺10級風暴風半徑(km)',
 '海上警報結束時間',       
 '警報發布報數']

df.columns = cols
df

### 轉成csv檔

In [ ]:
df.to_csv("颱風歷史資料(only發布警報).csv", index=False)

In [ ]:
cols

In [ ]:
"%s, "*12

In [ ]:
"
"