In [1]:
import pandas as pd

In [2]:
# 分析資料
df = pd.read_csv("分析資料(簡化).csv")
df.head()

,日期,市場,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr)
0,2011-01-05,400 台中市,23.6,34038,904.5,79,14.3,10.7,0.5,0.5,5.1,0,0,0.0,11.94,0.17,6.38
1,2011-01-06,400 台中市,24.5,18480,904.9,81,14.4,11.2,0.0,0.0,0.2,0,0,0.0,12.68,0.17,4.50
2,2011-01-07,400 台中市,26.6,13259,905.1,91,11.3,10.0,0.0,0.0,0.0,0,0,0.0,12.72,0.17,2.56
3,2011-01-08,400 台中市,27.3,12627,904.6,84,12.5,9.8,0.0,0.0,2.9,0,0,0.0,13.06,0.00,2.92
4,2011-01-09,400 台中市,24.9,22945,904.0,70,15.1,9.6,0.0,0.0,1.6,0,0,0.0,13.52,0.00,1.96

In [3]:
# 2019年
df_2019 = df.loc[df["日期"].str.contains("2019")]
df_2019.head()

,日期,市場,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr)
2926,2019-01-01,400 台中市,25.7,39821,909.5,66,16.9,10.4,0.0,0.0,1.9,0,0,0.0,14.86,0.00,3.46
2927,2019-01-02,400 台中市,26.0,36841,909.6,81,16.2,12.9,0.0,0.0,0.0,0,0,0.0,14.92,0.00,2.30
2928,2019-01-03,400 台中市,26.0,28558,910.1,84,16.9,14.2,2.0,1.0,1.9,0,0,0.0,15.56,0.67,1.22
2929,2019-01-04,400 台中市,26.8,34620,909.6,76,18.4,14.0,0.0,0.0,7.4,0,0,0.0,16.68,0.67,2.24
2930,2019-01-05,400 台中市,26.9,33871,908.3,79,18.5,14.6,0.0,0.0,3.8,0,0,0.0,17.38,0.67,3.00

In [4]:
# 全國價格
df_price_all = pd.read_csv("cleaned data/價格_全國香蕉交易資料(初步清洗).csv")
df_price_all.head()

,日期,市場,產品,上價,中價,下價,平均價(元/公斤),平均價_跟前一交易日比較%,交易量(公斤),交易量_跟前一交易日比較%,Year
0,2011-01-01,104 台北二,A1 香蕉,35.0,32.1,25.6,31.4,2,9645,-1,2011
1,2011-01-02,104 台北二,A1 香蕉,35.1,33.1,25.8,32.0,2,12230,27,2011
2,2011-01-04,104 台北二,A1 香蕉,35.8,33.1,27.0,32.4,0,11976,0,2011
3,2011-01-05,104 台北二,A1 香蕉,36.5,33.9,27.8,33.2,2,7520,-37,2011
4,2011-01-06,104 台北二,A1 香蕉,38.2,35.5,28.9,34.7,7,8160,-32,2011

In [5]:
# 2018年豐原區
df_Fengyuan_2018 = df_price_all.loc[(df_price_all["市場"] == '420 豐原區') & (df_price_all["日期"].str.contains('2018') )]
df_Fengyuan_2018.head()

,日期,市場,產品,上價,中價,下價,平均價(元/公斤),平均價_跟前一交易日比較%,交易量(公斤),交易量_跟前一交易日比較%,Year
17587,2018-01-02,420 豐原區,A1 香蕉,30.0,17.6,10.0,18.5,0,23150,118,2018
17588,2018-01-03,420 豐原區,A1 香蕉,32.7,19.0,15.0,21.0,13,13890,-40,2018
17589,2018-01-04,420 豐原區,A1 香蕉,31.5,19.6,7.5,19.5,-7,11995,-14,2018
17590,2018-01-05,420 豐原區,A1 香蕉,30.0,19.7,10.6,20.0,2,21200,77,2018
17591,2018-01-06,420 豐原區,A1 香蕉,31.5,21.8,13.6,22.1,11,14164,-33,2018

In [6]:
# 改成2019年日期，以利後續結合
df_Fengyuan_2018["日期"] = df_Fengyuan_2018["日期"].apply(lambda x: f'2019-{x[5:]}')
df_Fengyuan_2018 = df_Fengyuan_2018[['日期', '市場', '平均價(元/公斤)', '交易量(公斤)']]
df_Fengyuan_2018.head()

<ipython-input-6-dd242e9bdc9d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Fengyuan_2018["日期"] = df_Fengyuan_2018["日期"].apply(lambda x: f'2019-{x[5:]}')

               日期       市場  平均價(元/公斤)  交易量(公斤)
17587  2019-01-02  420 豐原區       18.5    23150
17588  2019-01-03  420 豐原區       21.0    13890
17589  2019-01-04  420 豐原區       19.5    11995
17590  2019-01-05  420 豐原區       20.0    21200
17591  2019-01-06  420 豐原區       22.1    14164

In [7]:
# merge leftjoin結合
df_merge = pd.merge(df_2019, df_Fengyuan_2018, on="日期", how="left").fillna(method="ffill").fillna(method="bfill")
df_merge.head()

,日期,市場_x,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr),市場_y,平均價(元/公斤),交易量(公斤)
0,2019-01-01,400 台中市,25.7,39821,909.5,66,16.9,10.4,0.0,0.0,1.9,0,0,0.0,14.86,0.00,3.46,420 豐原區,18.5,23150.0
1,2019-01-02,400 台中市,26.0,36841,909.6,81,16.2,12.9,0.0,0.0,0.0,0,0,0.0,14.92,0.00,2.30,420 豐原區,18.5,23150.0
2,2019-01-03,400 台中市,26.0,28558,910.1,84,16.9,14.2,2.0,1.0,1.9,0,0,0.0,15.56,0.67,1.22,420 豐原區,21.0,13890.0
3,2019-01-04,400 台中市,26.8,34620,909.6,76,18.4,14.0,0.0,0.0,7.4,0,0,0.0,16.68,0.67,2.24,420 豐原區,19.5,11995.0
4,2019-01-05,400 台中市,26.9,33871,908.3,79,18.5,14.6,0.0,0.0,3.8,0,0,0.0,17.38,0.67,3.00,420 豐原區,20.0,21200.0

In [ ]:
'''
2019台北價格
2019中部產區行情交易量
2018同期台北市場交易量
2018同期中部產區行情交易量
2018同期中部產區行情平均價
2019總日照時數
2019總日射量
2019總蒸發量
2019平均地溫
2019平均地溫100cm
2019氣候
'''

In [13]:
df_taipei_2019 = df_price_all.loc[(df_price_all["市場"] == "104 台北二") & (df_price_all["日期"].str.contains('2019'))]
df_taipei_2019 = df_taipei_2019[['日期', '市場', '產品', '平均價(元/公斤)', '交易量(公斤)']]
df_taipei_2019

              日期       市場     產品  平均價(元/公斤)  交易量(公斤)
2417  2019-01-01  104 台北二  A1 香蕉       29.6    12366
2418  2019-01-02  104 台北二  A1 香蕉       33.5    11145
2419  2019-01-03  104 台北二  A1 香蕉       30.8     9555
2420  2019-01-04  104 台北二  A1 香蕉       30.5    14940
2421  2019-01-05  104 台北二  A1 香蕉       34.2    10815
...          ...      ...    ...        ...      ...
2711  2019-12-26  104 台北二  A1 香蕉       34.1    15912
2712  2019-12-27  104 台北二  A1 香蕉       37.2    12135
2713  2019-12-28  104 台北二  A1 香蕉       35.1    13026
2714  2019-12-29  104 台北二  A1 香蕉       34.8    13260
2715  2019-12-31  104 台北二  A1 香蕉       33.7    12250

[299 rows x 5 columns]

# 合併新分析資料

### 農測站(凍頂茶改) => 2019
- 需要欄位 => ["日期", "累積日照時數(hr)", "累積日射量(MJm2)", '平均地溫0cm(℃)', '平均地溫100cm(℃)']

In [21]:
def csv_to_df(csv, year):
    # 檔案名稱 => 斜線與反斜線
    #file_name = re.findall(f'\\{year}(.*)\.csv', csv)[0]
    file_name = csv.split("\\")[1].split(".")[0][4:]
    
    # 處理dataframe
    df = pd.read_csv(csv, header=None).T
    df.drop(columns=[0,32], axis=1, inplace=True)
    df.drop(index=0, inplace=True)
    
    # 該年度所有日期
    whole_year_date = pd.date_range(f"{year}-01-01", f"{year}-12-31")
    days = []
    for day in whole_year_date:
        days.append((day.month, day.day))
    
    output = []
          
    for d in days:
        month = d[0] - 1
        day = d[1] - 1
        data = df.iloc[month, day]
        if re.match('\d', data):
            output.append(data)
        else:
            output.append(np.nan)

    df_col = pd.DataFrame({"日期": whole_year_date,
                              f"{file_name}": output}).fillna(method="ffill")
    
    return df_col

In [23]:
year = 2019

whole_year = pd.date_range(f"{year}-01-01", f"{year}-12-31")
output = pd.DataFrame({"日期": whole_year})

for csv in glob.glob(f"../data/Agricultural_Weather_Datas/凍頂茶改/{year}*"):
    df = csv_to_df(csv, year)
    output = pd.merge(output, df, on="日期", how="left")

df_weather_2019 = output[["日期", "累積日照時數(hr)", "累積日射量(MJm2)", '平均地溫0cm(℃)', '平均地溫100cm(℃)']] # 沒有蒸發量
df_weather_2019["日期"] =  df_weather_2019["日期"].astype("str")
df_weather_2019

<ipython-input-23-99f3f2f59195>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather_2019["日期"] =  df_weather_2019["日期"].astype("str")

             日期 累積日照時數(hr) 累積日射量(MJm2) 平均地溫0cm(℃) 平均地溫100cm(℃)
0    2019-01-01        7.6        9.43       17.1         21.1
1    2019-01-02        6.7        5.98       17.7         21.0
2    2019-01-03        7.5        6.83       18.5         21.0
3    2019-01-04        6.7       10.57       19.4         20.9
4    2019-01-05        8.1       11.11       21.0         21.0
..          ...        ...         ...        ...          ...
360  2019-12-27        7.5       11.27       17.1         21.0
361  2019-12-28        7.2        8.47       17.9         21.1
362  2019-12-29        0.3        1.29       17.3         21.0
363  2019-12-30        4.2        3.92       18.1         20.9
364  2019-12-31        3.7        4.16       16.9         20.8

[365 rows x 5 columns]

In [24]:
df_weather_2019.columns

Index(['日期', '累積日照時數(hr)', '累積日射量(MJm2)', '平均地溫0cm(℃)', '平均地溫100cm(℃)'], dtype='object')

### 分析資料(簡化) => 只選取2019

In [25]:
df_analysis = pd.read_csv("分析資料(簡化).csv")
df_analysis.head()

,日期,市場,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr)
0,2011-01-05,400 台中市,23.6,34038,904.5,79,14.3,10.7,0.5,0.5,5.1,0,0,0.0,11.94,0.17,6.38
1,2011-01-06,400 台中市,24.5,18480,904.9,81,14.4,11.2,0.0,0.0,0.2,0,0,0.0,12.68,0.17,4.50
2,2011-01-07,400 台中市,26.6,13259,905.1,91,11.3,10.0,0.0,0.0,0.0,0,0,0.0,12.72,0.17,2.56
3,2011-01-08,400 台中市,27.3,12627,904.6,84,12.5,9.8,0.0,0.0,2.9,0,0,0.0,13.06,0.00,2.92
4,2011-01-09,400 台中市,24.9,22945,904.0,70,15.1,9.6,0.0,0.0,1.6,0,0,0.0,13.52,0.00,1.96

In [53]:
df_analysis_2019 = df_analysis.loc[df_analysis["日期"].str.contains("2019")]
df_analysis_2019

,日期,市場,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr)
2926,2019-01-01,400 台中市,25.7,39821,909.5,66,16.9,10.4,0.0,0.0,1.9,0,0,0.0,14.86,0.00,3.46
2927,2019-01-02,400 台中市,26.0,36841,909.6,81,16.2,12.9,0.0,0.0,0.0,0,0,0.0,14.92,0.00,2.30
2928,2019-01-03,400 台中市,26.0,28558,910.1,84,16.9,14.2,2.0,1.0,1.9,0,0,0.0,15.56,0.67,1.22
2929,2019-01-04,400 台中市,26.8,34620,909.6,76,18.4,14.0,0.0,0.0,7.4,0,0,0.0,16.68,0.67,2.24
2930,2019-01-05,400 台中市,26.9,33871,908.3,79,18.5,14.6,0.0,0.0,3.8,0,0,0.0,17.38,0.67,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286,2019-12-27,400 台中市,32.4,22662,904.6,74,16.3,11.6,0.0,0.0,5.9,0,0,0.0,17.66,0.00,7.56
3287,2019-12-28,400 台中市,31.0,38100,905.8,75,16.0,11.5,0.0,0.0,3.1,0,0,0.0,17.38,0.00,6.72
3288,2019-12-29,400 台中市,32.5,19545,906.1,85,15.5,13.0,56.0,10.0,0.0,0,0,0.0,17.06,18.67,4.88
3289,2019-12-30,400 台中市,32.5,19545,907.7,84,15.9,13.0,23.0,11.5,0.0,0,0,0.0,16.50,26.33,3.30
3290,2019-12-31,400 台中市,31.2,39070,909.5,89,15.9,14.0,25.5,8.5,0.0,0,0,0.0,15.92,34.83,1.80

In [26]:
df_taichung_2019 = df_analysis.loc[df_analysis["日期"].str.contains("2019")]
df_taichung_2019 = df_taichung_2019[['日期', '市場', '平均價格(NTD/kg)', '成交量(kg)']]
df_taichung_2019

              日期       市場  平均價格(NTD/kg)  成交量(kg)
2926  2019-01-01  400 台中市          25.7    39821
2927  2019-01-02  400 台中市          26.0    36841
2928  2019-01-03  400 台中市          26.0    28558
2929  2019-01-04  400 台中市          26.8    34620
2930  2019-01-05  400 台中市          26.9    33871
...          ...      ...           ...      ...
3286  2019-12-27  400 台中市          32.4    22662
3287  2019-12-28  400 台中市          31.0    38100
3288  2019-12-29  400 台中市          32.5    19545
3289  2019-12-30  400 台中市          32.5    19545
3290  2019-12-31  400 台中市          31.2    39070

[365 rows x 4 columns]

### 豐原區交易資料 => 2019

In [27]:
df_price = pd.read_csv("cleaned data/價格_全國香蕉交易資料(初步清洗).csv")
df_price.head()

,日期,市場,產品,上價,中價,下價,平均價(元/公斤),平均價_跟前一交易日比較%,交易量(公斤),交易量_跟前一交易日比較%,Year
0,2011-01-01,104 台北二,A1 香蕉,35.0,32.1,25.6,31.4,2,9645,-1,2011
1,2011-01-02,104 台北二,A1 香蕉,35.1,33.1,25.8,32.0,2,12230,27,2011
2,2011-01-04,104 台北二,A1 香蕉,35.8,33.1,27.0,32.4,0,11976,0,2011
3,2011-01-05,104 台北二,A1 香蕉,36.5,33.9,27.8,33.2,2,7520,-37,2011
4,2011-01-06,104 台北二,A1 香蕉,38.2,35.5,28.9,34.7,7,8160,-32,2011

In [28]:
df_fengyuan_2019 = df_price.loc[(df_price["市場"] == '420 豐原區') & (df_price["Year"] == 2019)]
df_fengyuan_2019 = df_fengyuan_2019[['日期', '市場', '平均價(元/公斤)', '交易量(公斤)']]
df_fengyuan_2019.head()

               日期       市場  平均價(元/公斤)  交易量(公斤)
17887  2019-01-01  420 豐原區       23.4     2402
17888  2019-01-02  420 豐原區       21.9     4184
17889  2019-01-03  420 豐原區       24.2     7684
17890  2019-01-04  420 豐原區       13.2    31500
17891  2019-01-05  420 豐原區       27.4     3490

In [29]:
# df_test = df_analysis_2019
# df_test.head()

# 2019年中部產區資料 => 台中區 + 豐原區

In [30]:
# 缺值 => 補前值
df_merge_central_2019 = pd.merge(df_taichung_2019, df_fengyuan_2019, on="日期", how="left").fillna(method="ffill")
df_merge_central_2019.head()

           日期     市場_x  平均價格(NTD/kg)  成交量(kg)     市場_y  平均價(元/公斤)  交易量(公斤)
0  2019-01-01  400 台中市          25.7    39821  420 豐原區       23.4   2402.0
1  2019-01-02  400 台中市          26.0    36841  420 豐原區       21.9   4184.0
2  2019-01-03  400 台中市          26.0    28558  420 豐原區       24.2   7684.0
3  2019-01-04  400 台中市          26.8    34620  420 豐原區       13.2  31500.0
4  2019-01-05  400 台中市          26.9    33871  420 豐原區       27.4   3490.0

In [31]:
# 2019 中部產區 = 台中區 + 豐原區 
# 交易價格 -> 平均
# 交易量 -> 總和

df_merge_central_2019["平均價格(NTD/kg)"] = (df_merge_central_2019["平均價格(NTD/kg)"] + df_merge_central_2019["平均價(元/公斤)"])/2
df_merge_central_2019["成交量(kg)"] = df_merge_central_2019["成交量(kg)"] + df_merge_central_2019["交易量(公斤)"]

In [32]:
df_merge_central_2019 = df_merge_central_2019[['日期', '平均價格(NTD/kg)', '成交量(kg)']]
df_merge_central_2019.columns = ['日期', '2019_中部產區_平均價格(NTD/kg)', '2019_中部產區_成交量(kg)']

In [33]:
df_central_merge_2019 = df_merge_central_2019
df_central_merge_2019

             日期  2019_中部產區_平均價格(NTD/kg)  2019_中部產區_成交量(kg)
0    2019-01-01                   24.55            42223.0
1    2019-01-02                   23.95            41025.0
2    2019-01-03                   25.10            36242.0
3    2019-01-04                   20.00            66120.0
4    2019-01-05                   27.15            37361.0
..          ...                     ...                ...
360  2019-12-27                   29.35            29967.0
361  2019-12-28                   26.45            40986.0
362  2019-12-29                   27.90            21345.0
363  2019-12-30                   27.90            21345.0
364  2019-12-31                   30.00            41386.0

[365 rows x 3 columns]

# 2018 中部產區 = 台中區 + 豐原區 
- 2018年的交易價格兩地差距蠻大 -> 看稍後是否調整

In [34]:
'''
2018同期中部產區行情交易量
2018同期中部產區行情平均價
'''

'\n2018同期中部產區行情交易量\n2018同期中部產區行情平均價\n'

In [35]:
# 2018 中部產區 = 台中區 + 豐原區 
# 交易價格 -> 平均
# 交易量 -> 總和
df_price_taichung_2018 = df_price.loc[(df_price["市場"] == "400 台中市") & (df_price["Year"] == 2018)] 
df_price_fengyuan_2018 = df_price.loc[(df_price["市場"] == "420 豐原區") & (df_price["Year"] == 2018)]

In [36]:
df_price_taichung_2018 = df_price_taichung_2018[['日期', '市場', '平均價(元/公斤)', '交易量(公斤)']]
df_price_taichung_2018

               日期       市場  平均價(元/公斤)  交易量(公斤)
15947  2018-01-02  400 台中市       30.0    52083
15948  2018-01-03  400 台中市       29.0    28475
15949  2018-01-04  400 台中市       29.5    23263
15950  2018-01-05  400 台中市       28.2    21745
15951  2018-01-06  400 台中市       28.8    32763
...           ...      ...        ...      ...
16242  2018-12-26  400 台中市       25.7    29019
16243  2018-12-27  400 台中市       26.3    24222
16244  2018-12-28  400 台中市       26.6    33489
16245  2018-12-29  400 台中市       23.7    41355
16246  2018-12-30  400 台中市       25.4    34003

[300 rows x 4 columns]

In [37]:
df_price_fengyuan_2018 = df_price_fengyuan_2018[['日期', '市場', '平均價(元/公斤)', '交易量(公斤)']]
df_price_fengyuan_2018

               日期       市場  平均價(元/公斤)  交易量(公斤)
17587  2018-01-02  420 豐原區       18.5    23150
17588  2018-01-03  420 豐原區       21.0    13890
17589  2018-01-04  420 豐原區       19.5    11995
17590  2018-01-05  420 豐原區       20.0    21200
17591  2018-01-06  420 豐原區       22.1    14164
...           ...      ...        ...      ...
17882  2018-12-26  420 豐原區       21.2     3244
17883  2018-12-27  420 豐原區       25.2     5295
17884  2018-12-28  420 豐原區       22.9     4012
17885  2018-12-29  420 豐原區       24.3     3395
17886  2018-12-30  420 豐原區       19.9     3120

[300 rows x 4 columns]

In [38]:
df_central_merge_2018 = pd.merge(df_price_taichung_2018, df_price_fengyuan_2018, on="日期", how="left")
df_central_merge_2018

,日期,市場_x,平均價(元/公斤)_x,交易量(公斤)_x,市場_y,平均價(元/公斤)_y,交易量(公斤)_y
0,2018-01-02,400 台中市,30.0,52083,420 豐原區,18.5,23150.0
1,2018-01-03,400 台中市,29.0,28475,420 豐原區,21.0,13890.0
2,2018-01-04,400 台中市,29.5,23263,420 豐原區,19.5,11995.0
3,2018-01-05,400 台中市,28.2,21745,420 豐原區,20.0,21200.0
4,2018-01-06,400 台中市,28.8,32763,420 豐原區,22.1,14164.0
...,...,...,...,...,...,...,...
295,2018-12-26,400 台中市,25.7,29019,420 豐原區,21.2,3244.0
296,2018-12-27,400 台中市,26.3,24222,420 豐原區,25.2,5295.0
297,2018-12-28,400 台中市,26.6,33489,420 豐原區,22.9,4012.0
298,2018-12-29,400 台中市,23.7,41355,420 豐原區,24.3,3395.0
299,2018-12-30,400 台中市,25.4,34003,420 豐原區,19.9,3120.0

In [39]:
df_central_merge_2018["平均價(元/公斤)_x"] = (df_central_merge_2018["平均價(元/公斤)_x"] + df_central_merge_2018["平均價(元/公斤)_y"])/2
df_central_merge_2018["交易量(公斤)_x"] = df_central_merge_2018["交易量(公斤)_x"] + df_central_merge_2018["交易量(公斤)_y"]
df_central_merge_2018.head()

,日期,市場_x,平均價(元/公斤)_x,交易量(公斤)_x,市場_y,平均價(元/公斤)_y,交易量(公斤)_y
0,2018-01-02,400 台中市,24.25,75233.0,420 豐原區,18.5,23150.0
1,2018-01-03,400 台中市,25.00,42365.0,420 豐原區,21.0,13890.0
2,2018-01-04,400 台中市,24.50,35258.0,420 豐原區,19.5,11995.0
3,2018-01-05,400 台中市,24.10,42945.0,420 豐原區,20.0,21200.0
4,2018-01-06,400 台中市,25.45,46927.0,420 豐原區,22.1,14164.0

In [40]:
# 去蕪存菁
df_central_merge_2018 = df_central_merge_2018[['日期', '平均價(元/公斤)_x', '交易量(公斤)_x']]
df_central_merge_2018.columns = ['日期', '2018_中部產區_平均價(元/公斤)', '2018_中部產區_交易量(公斤)']
df_central_merge_2018.head()

           日期  2018_中部產區_平均價(元/公斤)  2018_中部產區_交易量(公斤)
0  2018-01-02                24.25            75233.0
1  2018-01-03                25.00            42365.0
2  2018-01-04                24.50            35258.0
3  2018-01-05                24.10            42945.0
4  2018-01-06                25.45            46927.0

In [41]:
# 日期改成2019年 => 後續merge使用(切記: 資料本身是2018年，只是為append到2019年欄位後面)
df_central_merge_2018["日期"] = df_central_merge_2018["日期"].apply(lambda x: '2019' + x[4:] )
df_central_merge_2018

<ipython-input-41-d24d35dc0351>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_central_merge_2018["日期"] = df_central_merge_2018["日期"].apply(lambda x: '2019' + x[4:] )

             日期  2018_中部產區_平均價(元/公斤)  2018_中部產區_交易量(公斤)
0    2019-01-02                24.25            75233.0
1    2019-01-03                25.00            42365.0
2    2019-01-04                24.50            35258.0
3    2019-01-05                24.10            42945.0
4    2019-01-06                25.45            46927.0
..          ...                  ...                ...
295  2019-12-26                23.45            32263.0
296  2019-12-27                25.75            29517.0
297  2019-12-28                24.75            37501.0
298  2019-12-29                24.00            44750.0
299  2019-12-30                22.65            37123.0

[300 rows x 3 columns]

# 2018 同期台北市場交易量 => 台北一 + 台北二
- 交易價格
- 交易量

In [42]:
df_price

,日期,市場,產品,上價,中價,下價,平均價(元/公斤),平均價_跟前一交易日比較%,交易量(公斤),交易量_跟前一交易日比較%,Year
0,2011-01-01,104 台北二,A1 香蕉,35.0,32.1,25.6,31.4,2,9645,-1,2011
1,2011-01-02,104 台北二,A1 香蕉,35.1,33.1,25.8,32.0,2,12230,27,2011
2,2011-01-04,104 台北二,A1 香蕉,35.8,33.1,27.0,32.4,0,11976,0,2011
3,2011-01-05,104 台北二,A1 香蕉,36.5,33.9,27.8,33.2,2,7520,-37,2011
4,2011-01-06,104 台北二,A1 香蕉,38.2,35.5,28.9,34.7,7,8160,-32,2011
...,...,...,...,...,...,...,...,...,...,...,...
31689,2021-06-08,930 台東市,A1 香蕉,28.0,18.3,12.0,20.7,-12,3115,1,2021
31690,2021-06-09,930 台東市,A1 香蕉,28.0,18.3,12.0,21.2,2,2885,-7,2021
31691,2021-06-10,930 台東市,A1 香蕉,24.0,16.8,11.0,18.7,-12,3885,35,2021
31692,2021-06-11,930 台東市,A1 香蕉,26.0,18.3,13.0,20.7,11,4522,16,2021
31693,2021-06-12,930 台東市,A1 香蕉,32.0,21.5,15.0,22.8,10,3007,-34,2021

In [43]:
df_price["市場"].unique()

array(['104 台北二', '109 台北一', '220 板橋區', '241 三重區', '260 宜蘭市', '338 桃農',
       '400 台中市', '420 豐原區', '423 東勢區', '600 嘉義市', '800 高雄市', '830 鳳山區',
       '930 台東市'], dtype=object)

In [44]:
df_taipei01_2018 = df_price.loc[(df_price["市場"] == "109 台北一") & (df_price["Year"] == 2018)]
df_taipei02_2018 = df_price.loc[(df_price["市場"] == "104 台北二") & (df_price["Year"] == 2018)]

In [45]:
df_taipei01_2018 = df_taipei01_2018[['日期', "市場", "平均價(元/公斤)", "交易量(公斤)"]]
df_taipei01_2018.head()

              日期       市場  平均價(元/公斤)  交易量(公斤)
5262  2018-01-02  109 台北一       32.0    19810
5263  2018-01-03  109 台北一       33.2    20002
5264  2018-01-04  109 台北一       32.3    18000
5265  2018-01-05  109 台北一       31.8    18481
5266  2018-01-06  109 台北一       30.7    16369

In [46]:
df_taipei02_2018 = df_taipei02_2018[['日期', "市場", "平均價(元/公斤)", "交易量(公斤)"]] 
df_taipei02_2018.head()

              日期       市場  平均價(元/公斤)  交易量(公斤)
2117  2018-01-02  104 台北二       32.1    17010
2118  2018-01-03  104 台北二       31.0    15015
2119  2018-01-04  104 台北二       31.3    11427
2120  2018-01-05  104 台北二       30.1    12675
2121  2018-01-06  104 台北二       30.9    13200

In [47]:
df_taipei_merge_2018 = pd.merge(df_taipei01_2018, df_taipei02_2018, on="日期")
df_taipei_merge_2018

,日期,市場_x,平均價(元/公斤)_x,交易量(公斤)_x,市場_y,平均價(元/公斤)_y,交易量(公斤)_y
0,2018-01-02,109 台北一,32.0,19810,104 台北二,32.1,17010
1,2018-01-03,109 台北一,33.2,20002,104 台北二,31.0,15015
2,2018-01-04,109 台北一,32.3,18000,104 台北二,31.3,11427
3,2018-01-05,109 台北一,31.8,18481,104 台北二,30.1,12675
4,2018-01-06,109 台北一,30.7,16369,104 台北二,30.9,13200
...,...,...,...,...,...,...,...
295,2018-12-26,109 台北一,26.6,19066,104 台北二,29.6,14310
296,2018-12-27,109 台北一,27.1,15444,104 台北二,30.6,7815
297,2018-12-28,109 台北一,27.2,14306,104 台北二,33.0,11940
298,2018-12-29,109 台北一,27.8,16381,104 台北二,32.6,10395
299,2018-12-30,109 台北一,26.9,16236,104 台北二,31.1,14070

In [48]:
df_taipei_merge_2018["平均價(元/公斤)_x"] = (df_taipei_merge_2018["平均價(元/公斤)_x"] + df_taipei_merge_2018["平均價(元/公斤)_y"])/2
df_taipei_merge_2018["交易量(公斤)_x"] = df_taipei_merge_2018["交易量(公斤)_x"] + df_taipei_merge_2018["交易量(公斤)_y"]
df_taipei_merge_2018.head()

,日期,市場_x,平均價(元/公斤)_x,交易量(公斤)_x,市場_y,平均價(元/公斤)_y,交易量(公斤)_y
0,2018-01-02,109 台北一,32.05,36820,104 台北二,32.1,17010
1,2018-01-03,109 台北一,32.10,35017,104 台北二,31.0,15015
2,2018-01-04,109 台北一,31.80,29427,104 台北二,31.3,11427
3,2018-01-05,109 台北一,30.95,31156,104 台北二,30.1,12675
4,2018-01-06,109 台北一,30.80,29569,104 台北二,30.9,13200

In [50]:
df_taipei_merge_2018 = df_taipei_merge_2018[["日期", "平均價(元/公斤)_x", "交易量(公斤)_x"]]
df_taipei_merge_2018.columns = ["日期", "2018_台北產區_平均價(元/公斤)", "2018_台北產區_交易量(公斤)"]

In [51]:
# 轉換日期年份為2019 => 後續merge使用
df_taipei_merge_2018["日期"] = df_taipei_merge_2018["日期"].apply(lambda x: "2019" + x[4:])
df_taipei_merge_2018

<ipython-input-51-7878ea0c09b6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_taipei_merge_2018["日期"] = df_taipei_merge_2018["日期"].apply(lambda x: "2019" + x[4:])

             日期  2018_台北產區_平均價(元/公斤)  2018_台北產區_交易量(公斤)
0    2019-01-02                32.05              36820
1    2019-01-03                32.10              35017
2    2019-01-04                31.80              29427
3    2019-01-05                30.95              31156
4    2019-01-06                30.80              29569
..          ...                  ...                ...
295  2019-12-26                28.10              33376
296  2019-12-27                28.85              23259
297  2019-12-28                30.10              26246
298  2019-12-29                30.20              26776
299  2019-12-30                29.00              30306

[300 rows x 3 columns]

In [54]:
df_analysis_2019.head()

,日期,市場,平均價格(NTD/kg),成交量(kg),測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr)
2926,2019-01-01,400 台中市,25.7,39821,909.5,66,16.9,10.4,0.0,0.0,1.9,0,0,0.0,14.86,0.00,3.46
2927,2019-01-02,400 台中市,26.0,36841,909.6,81,16.2,12.9,0.0,0.0,0.0,0,0,0.0,14.92,0.00,2.30
2928,2019-01-03,400 台中市,26.0,28558,910.1,84,16.9,14.2,2.0,1.0,1.9,0,0,0.0,15.56,0.67,1.22
2929,2019-01-04,400 台中市,26.8,34620,909.6,76,18.4,14.0,0.0,0.0,7.4,0,0,0.0,16.68,0.67,2.24
2930,2019-01-05,400 台中市,26.9,33871,908.3,79,18.5,14.6,0.0,0.0,3.8,0,0,0.0,17.38,0.67,3.00

In [55]:
df_taipei_merge_2018.head()

           日期  2018_台北產區_平均價(元/公斤)  2018_台北產區_交易量(公斤)
0  2019-01-02                32.05              36820
1  2019-01-03                32.10              35017
2  2019-01-04                31.80              29427
3  2019-01-05                30.95              31156
4  2019-01-06                30.80              29569

In [56]:
df_central_merge_2018.head()

           日期  2018_中部產區_平均價(元/公斤)  2018_中部產區_交易量(公斤)
0  2019-01-02                24.25            75233.0
1  2019-01-03                25.00            42365.0
2  2019-01-04                24.50            35258.0
3  2019-01-05                24.10            42945.0
4  2019-01-06                25.45            46927.0

In [57]:
df_central_merge_2019.head()

           日期  2019_中部產區_平均價格(NTD/kg)  2019_中部產區_成交量(kg)
0  2019-01-01                   24.55            42223.0
1  2019-01-02                   23.95            41025.0
2  2019-01-03                   25.10            36242.0
3  2019-01-04                   20.00            66120.0
4  2019-01-05                   27.15            37361.0

In [58]:
df_weather_2019.head()

           日期 累積日照時數(hr) 累積日射量(MJm2) 平均地溫0cm(℃) 平均地溫100cm(℃)
0  2019-01-01        7.6        9.43       17.1         21.1
1  2019-01-02        6.7        5.98       17.7         21.0
2  2019-01-03        7.5        6.83       18.5         21.0
3  2019-01-04        6.7       10.57       19.4         20.9
4  2019-01-05        8.1       11.11       21.0         21.0

In [59]:
# 2019分析資料 合併 2018年台北交易行情資料
df_ultimate = pd.merge(df_analysis_2019, df_taipei_merge_2018, on="日期", how="left")

# 2019分析資料 合併 2018年中部產區交易行情資料
df_ultimate = pd.merge(df_ultimate, df_central_merge_2018, on="日期", how="left")

# 2019分析資料 合併 2019年中部產區交易行情資料
df_ultimate = pd.merge(df_ultimate, df_central_merge_2019, on="日期", how="left")

# 2019分析資料 合併 2019年農測站(凍頂茶改)資料
df_ultimate = pd.merge(df_ultimate, df_weather_2019, on="日期", how="left")

In [60]:
df_ultimate.drop(columns=["平均價格(NTD/kg)", "成交量(kg)"], inplace=True)

In [61]:
cols = list(df_ultimate.columns)
cols

['日期',
 '市場',
 '測站氣壓(hPa)',
 '相對溼度(%)',
 '氣溫(℃)',
 '露點溫度(℃)',
 '降水量(mm)',
 '60分鐘最大降水量(mm)',
 '日照時數(hr)',
 '颱風',
 '近臺強度',
 '警報發布報數',
 '5日平均溫度(℃)',
 '3日平均降水量(mm)',
 '5日平均日照時數(hr)',
 '2018_台北產區_平均價(元/公斤)',
 '2018_台北產區_交易量(公斤)',
 '2018_中部產區_平均價(元/公斤)',
 '2018_中部產區_交易量(公斤)',
 '2019_中部產區_平均價格(NTD/kg)',
 '2019_中部產區_成交量(kg)',
 '累積日照時數(hr)',
 '累積日射量(MJm2)',
 '平均地溫0cm(℃)',
 '平均地溫100cm(℃)']

In [62]:
df_ultimate[cols[10:]] = df_ultimate[cols[10:]].apply(pd.to_numeric)
df_ultimate.dtypes

日期                         object
市場                         object
測站氣壓(hPa)                 float64
相對溼度(%)                     int64
氣溫(℃)                     float64
露點溫度(℃)                   float64
降水量(mm)                   float64
60分鐘最大降水量(mm)             float64
日照時數(hr)                  float64
颱風                          int64
近臺強度                        int64
警報發布報數                    float64
5日平均溫度(℃)                 float64
3日平均降水量(mm)               float64
5日平均日照時數(hr)              float64
2018_台北產區_平均價(元/公斤)       float64
2018_台北產區_交易量(公斤)         float64
2018_中部產區_平均價(元/公斤)       float64
2018_中部產區_交易量(公斤)         float64
2019_中部產區_平均價格(NTD/kg)    float64
2019_中部產區_成交量(kg)         float64
累積日照時數(hr)                float64
累積日射量(MJm2)               float64
平均地溫0cm(℃)                float64
平均地溫100cm(℃)              float64
dtype: object

In [63]:
df_ultimate[cols[10:]] = df_ultimate[cols[10:]].apply(lambda x:round(x, 2))
df_ultimate.to_csv("分析資料(0710更新).csv", index=False)

In [64]:
df_ultimate.head()

,日期,市場,測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),60分鐘最大降水量(mm),日照時數(hr),颱風,...,2018_台北產區_平均價(元/公斤),2018_台北產區_交易量(公斤),2018_中部產區_平均價(元/公斤),2018_中部產區_交易量(公斤),2019_中部產區_平均價格(NTD/kg),2019_中部產區_成交量(kg),累積日照時數(hr),累積日射量(MJm2),平均地溫0cm(℃),平均地溫100cm(℃)
0,2019-01-01,400 台中市,909.5,66,16.9,10.4,0.0,0.0,1.9,0,...,NaN,NaN,NaN,NaN,24.55,42223.0,7.6,9.43,17.1,21.1
1,2019-01-02,400 台中市,909.6,81,16.2,12.9,0.0,0.0,0.0,0,...,32.05,36820.0,24.25,75233.0,23.95,41025.0,6.7,5.98,17.7,21.0
2,2019-01-03,400 台中市,910.1,84,16.9,14.2,2.0,1.0,1.9,0,...,32.10,35017.0,25.00,42365.0,25.10,36242.0,7.5,6.83,18.5,21.0
3,2019-01-04,400 台中市,909.6,76,18.4,14.0,0.0,0.0,7.4,0,...,31.80,29427.0,24.50,35258.0,20.00,66120.0,6.7,10.57,19.4,20.9
4,2019-01-05,400 台中市,908.3,79,18.5,14.6,0.0,0.0,3.8,0,...,30.95,31156.0,24.10,42945.0,27.15,37361.0,8.1,11.11,21.0,21.0

In [65]:
df_taipei_2019 = pd.read_csv("2019香蕉_台北價格產量.csv")
df_taipei_2019

            日期       產品  台北平均價  台北交易量  2018平均價  2018交易量
0    108/01/01  A1 香蕉    28.00  33173    32.05    36820
1    108/01/02  A1 香蕉    29.90  26953    32.05    36820
2    108/01/03  A1 香蕉    29.05  26999    32.10    35017
3    108/01/04  A1 香蕉    28.70  34006    31.80    29427
4    108/01/05  A1 香蕉    31.80  31354    30.95    31156
..         ...      ...    ...    ...      ...      ...
294  108/12/26  A1 香蕉    34.05  37857    28.10    33376
295  108/12/27  A1 香蕉    35.20  27443    28.85    23259
296  108/12/28  A1 香蕉    33.85  30866    30.10    26246
297  108/12/29  A1 香蕉    33.50  26337    30.20    26776
298  108/12/31  A1 香蕉    32.95  29077    30.20    26776

[299 rows x 6 columns]

In [66]:
df_taipei_2019.columns

Index(['日期', '產品', '台北平均價', '台北交易量', '2018平均價', '2018交易量'], dtype='object')

In [67]:
df_taipei_2019 = df_taipei_2019[['日期', '產品', '台北平均價', '台北交易量']]
df_taipei_2019.columns = ['日期', '產品', '2019_台北市場_平均價', '2019_台北市場_交易量']
df_taipei_2019

            日期       產品  2019_台北市場_平均價  2019_台北市場_交易量
0    108/01/01  A1 香蕉            28.00          33173
1    108/01/02  A1 香蕉            29.90          26953
2    108/01/03  A1 香蕉            29.05          26999
3    108/01/04  A1 香蕉            28.70          34006
4    108/01/05  A1 香蕉            31.80          31354
..         ...      ...            ...            ...
294  108/12/26  A1 香蕉            34.05          37857
295  108/12/27  A1 香蕉            35.20          27443
296  108/12/28  A1 香蕉            33.85          30866
297  108/12/29  A1 香蕉            33.50          26337
298  108/12/31  A1 香蕉            32.95          29077

[299 rows x 4 columns]

In [80]:
df_taipei_2019["日期"] = df_taipei_2019["日期"].apply(lambda x: "2019" + re.findall("\d{3}(.*)", x.replace("/", "-"))[0])

<ipython-input-80-367d040230b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_taipei_2019["日期"] = df_taipei_2019["日期"].apply(lambda x: "2019" + re.findall("\d{3}(.*)", x.replace("/", "-"))[0])

In [82]:
df_output_for_analysis = pd.merge(df_taipei_2019, df_ultimate, on="日期", how="left")
df_output_for_analysis.head()

,日期,產品,2019_台北市場_平均價,2019_台北市場_交易量,市場,測站氣壓(hPa),相對溼度(%),氣溫(℃),露點溫度(℃),降水量(mm),...,2018_台北產區_平均價(元/公斤),2018_台北產區_交易量(公斤),2018_中部產區_平均價(元/公斤),2018_中部產區_交易量(公斤),2019_中部產區_平均價格(NTD/kg),2019_中部產區_成交量(kg),累積日照時數(hr),累積日射量(MJm2),平均地溫0cm(℃),平均地溫100cm(℃)
0,2019-01-01,A1 香蕉,28.00,33173,400 台中市,909.5,66,16.9,10.4,0.0,...,NaN,NaN,NaN,NaN,24.55,42223.0,7.6,9.43,17.1,21.1
1,2019-01-02,A1 香蕉,29.90,26953,400 台中市,909.6,81,16.2,12.9,0.0,...,32.05,36820.0,24.25,75233.0,23.95,41025.0,6.7,5.98,17.7,21.0
2,2019-01-03,A1 香蕉,29.05,26999,400 台中市,910.1,84,16.9,14.2,2.0,...,32.10,35017.0,25.00,42365.0,25.10,36242.0,7.5,6.83,18.5,21.0
3,2019-01-04,A1 香蕉,28.70,34006,400 台中市,909.6,76,18.4,14.0,0.0,...,31.80,29427.0,24.50,35258.0,20.00,66120.0,6.7,10.57,19.4,20.9
4,2019-01-05,A1 香蕉,31.80,31354,400 台中市,908.3,79,18.5,14.6,0.0,...,30.95,31156.0,24.10,42945.0,27.15,37361.0,8.1,11.11,21.0,21.0

In [84]:
df_output_for_analysis = df_output_for_analysis.fillna(method="ffill").fillna(method="bfill")

In [86]:
df_output_for_analysis.columns = ['日期', '產品', '2019_台北市場_平均價(NTD/kg)', '2019_台北市場_交易量(NTD/kg)', '市場', '測站氣壓(hPa)',
       '相對溼度(%)', '氣溫(℃)', '露點溫度(℃)', '降水量(mm)', '60分鐘最大降水量(mm)', '日照時數(hr)',
       '颱風', '近臺強度', '警報發布報數', '5日平均溫度(℃)', '3日平均降水量(mm)', '5日平均日照時數(hr)',
       '2018_台北市場_平均價(NTD/kg)', '2018_台北市場_交易量(kg)', '2018_中部產區_平均價(NTD/kg)',
       '2018_中部產區_交易量(kg)', '2019_中部產區_平均價格(NTD/kg)', '2019_中部產區_成交量(kg)',
       '累積日照時數(hr)', '累積日射量(MJm2)', '平均地溫0cm(℃)', '平均地溫100cm(℃)']

In [89]:
new_cols = ['日期', '產品', '2019_台北市場_平均價(NTD/kg)', '2019_台北市場_交易量(NTD/kg)','2018_台北市場_平均價(NTD/kg)', 
            '2018_台北市場_交易量(kg)', '2019_中部產區_平均價格(NTD/kg)', '2019_中部產區_成交量(kg)', '2018_中部產區_平均價(NTD/kg)','2018_中部產區_交易量(kg)',  
            '測站氣壓(hPa)','相對溼度(%)', '氣溫(℃)', '露點溫度(℃)', '降水量(mm)', '60分鐘最大降水量(mm)', '日照時數(hr)',
            '颱風', '近臺強度', '警報發布報數', '5日平均溫度(℃)', '3日平均降水量(mm)', '5日平均日照時數(hr)',
            '累積日照時數(hr)', '累積日射量(MJm2)', '平均地溫0cm(℃)', '平均地溫100cm(℃)']


df_output_for_analysis = df_output_for_analysis[new_cols]
df_output_for_analysis

,日期,產品,2019_台北市場_平均價(NTD/kg),2019_台北市場_交易量(NTD/kg),2018_台北市場_平均價(NTD/kg),2018_台北市場_交易量(kg),2019_中部產區_平均價格(NTD/kg),2019_中部產區_成交量(kg),2018_中部產區_平均價(NTD/kg),2018_中部產區_交易量(kg),...,颱風,近臺強度,警報發布報數,5日平均溫度(℃),3日平均降水量(mm),5日平均日照時數(hr),累積日照時數(hr),累積日射量(MJm2),平均地溫0cm(℃),平均地溫100cm(℃)
0,2019-01-01,A1 香蕉,28.00,33173,32.05,36820.0,24.55,42223.0,24.25,75233.0,...,0,0,0.0,14.86,0.00,3.46,7.6,9.43,17.1,21.1
1,2019-01-02,A1 香蕉,29.90,26953,32.05,36820.0,23.95,41025.0,24.25,75233.0,...,0,0,0.0,14.92,0.00,2.30,6.7,5.98,17.7,21.0
2,2019-01-03,A1 香蕉,29.05,26999,32.10,35017.0,25.10,36242.0,25.00,42365.0,...,0,0,0.0,15.56,0.67,1.22,7.5,6.83,18.5,21.0
3,2019-01-04,A1 香蕉,28.70,34006,31.80,29427.0,20.00,66120.0,24.50,35258.0,...,0,0,0.0,16.68,0.67,2.24,6.7,10.57,19.4,20.9
4,2019-01-05,A1 香蕉,31.80,31354,30.95,31156.0,27.15,37361.0,24.10,42945.0,...,0,0,0.0,17.38,0.67,3.00,8.1,11.11,21.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,2019-12-26,A1 香蕉,34.05,37857,28.10,33376.0,29.75,46315.0,23.45,32263.0,...,0,0,0.0,17.86,0.00,7.22,8.3,13.35,19.5,21.0
295,2019-12-27,A1 香蕉,35.20,27443,28.85,23259.0,29.35,29967.0,25.75,29517.0,...,0,0,0.0,17.66,0.00,7.56,7.5,11.27,17.1,21.0
296,2019-12-28,A1 香蕉,33.85,30866,30.10,26246.0,26.45,40986.0,24.75,37501.0,...,0,0,0.0,17.38,0.00,6.72,7.2,8.47,17.9,21.1
297,2019-12-29,A1 香蕉,33.50,26337,30.20,26776.0,27.90,21345.0,24.00,44750.0,...,0,0,0.0,17.06,18.67,4.88,0.3,1.29,17.3,21.0
298,2019-12-31,A1 香蕉,32.95,29077,30.20,26776.0,30.00,41386.0,24.00,44750.0,...,0,0,0.0,15.92,34.83,1.80,3.7,4.16,16.9,20.8

In [93]:
df_output_for_analysis.to_excel("分析資料(0710更新).xlsx", index=False)