In [41]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
%matplotlib inline

### 颱風資料

In [55]:
df_typhoon = pd.read_csv("../data/颱風歷史資料(only發布警報)_test.csv")

In [56]:
df_typhoon

,颱風編號,中文名稱,英文名稱,侵臺路徑分類,海上警報開始時間,近臺強度,近臺最低氣壓(hPa),近臺最大風速(m/s),近臺7級風暴風半徑(km),近臺10級風暴風半徑(km),海上警報結束時間,警報發布報數
0,202103,彩雲,CHOI-WAN,NaN,2021-06-03 16:00:00,w,995.0,20.0,100.0,NaN,2021-06-04 20:30:00,11.0
1,202020,閃電,ATSANI,5.0,2020-11-05 08:30:00,w,982.0,28.0,120.0,NaN,2020-11-07 14:30:00,19.0
2,202008,巴威,BAVI,NaN,2020-08-22 10:30:00,w,945.0,43.0,220.0,80.0,2020-08-22 23:30:00,6.0
3,202006,米克拉,MEKKHALA,NaN,2020-08-10 10:30:00,w,992.0,23.0,120.0,NaN,2020-08-11 14:30:00,11.0
4,202004,哈格比,HAGUPIT,NaN,2020-08-02 05:30:00,m,978.0,33.0,100.0,40.0,2020-08-03 23:30:00,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
429,195814,海倫,HELEN,NaN,1958-09-12 00:00:00,s,920.0,55.0,300.0,NaN,1958-09-15 12:00:00,8.0
430,195813,葛瑞絲,GRACE,1.0,1958-09-01 12:00:00,s,910.0,75.0,350.0,NaN,1958-09-04 23:00:00,13.0
431,195807,溫妮,WINNIE,3.0,1958-07-13 12:00:00,s,925.0,50.0,350.0,NaN,1958-07-17 00:00:00,12.0
432,195805,蒂絲,TESS,NaN,1958-07-05 00:00:00,m,995.0,30.0,150.0,NaN,1958-07-06 00:00:00,3.0
433,194901,卡門,CARMEN,NaN,1949-01-11 05:00:00,NaN,NaN,NaN,NaN,NaN,1949-01-15 06:00:00,NaN

In [57]:
df_typhoon["Year"] = df_typhoon["颱風編號"].apply(lambda x: int(str(x)[:4]))

In [58]:
# 取2011以後資料
df_typhoon = df_typhoon.loc[df_typhoon["Year"] >= 2011]

In [61]:
df_typhoon.head(50)

,颱風編號,中文名稱,英文名稱,侵臺路徑分類,海上警報開始時間,近臺強度,近臺最低氣壓(hPa),近臺最大風速(m/s),近臺7級風暴風半徑(km),近臺10級風暴風半徑(km),海上警報結束時間,警報發布報數,Year
0,202103,彩雲,CHOI-WAN,NaN,2021-06-03 16:00:00,w,995.0,20.0,100.0,NaN,2021-06-04 20:30:00,11.0,2021
1,202020,閃電,ATSANI,5.0,2020-11-05 08:30:00,w,982.0,28.0,120.0,NaN,2020-11-07 14:30:00,19.0,2020
2,202008,巴威,BAVI,NaN,2020-08-22 10:30:00,w,945.0,43.0,220.0,80.0,2020-08-22 23:30:00,6.0,2020
3,202006,米克拉,MEKKHALA,NaN,2020-08-10 10:30:00,w,992.0,23.0,120.0,NaN,2020-08-11 14:30:00,11.0,2020
4,202004,哈格比,HAGUPIT,NaN,2020-08-02 05:30:00,m,978.0,33.0,100.0,40.0,2020-08-03 23:30:00,15.0,2020
5,202001,黃蜂,VONGFONG,NaN,2020-05-16 11:30:00,m,948.0,43.0,150.0,50.0,2020-05-17 08:30:00,8.0,2020
6,201918,米塔,MITAG,6.0,2019-09-29 08:30:00,m,960.0,38.0,180.0,60.0,2019-10-01 11:30:00,18.0,2019
7,201911,白鹿,BAILU,4.0,2019-08-23 05:30:00,w,975.0,30.0,150.0,50.0,2019-08-25 11:30:00,19.0,2019
8,201909,利奇馬,LEKIMA,1.0,2019-08-07 17:30:00,s,915.0,53.0,280.0,100.0,2019-08-10 08:30:00,22.0,2019
9,201905,丹娜絲,DANAS,NaN,2019-07-16 23:30:00,w,988.0,23.0,150.0,NaN,2019-07-18 17:30:00,15.0,2019
10,201822,山竹,MANGKHUT,NaN,2018-09-14 11:30:00,s,895.0,60.0,320.0,120.0,2018-09-15 20:30:00,12.0,2018
11,201808,瑪莉亞,MARIA,1.0,2018-07-09 14:30:00,s,915.0,55.0,280.0,100.0,2018-07-11 14:30:00,17.0,2018
12,201718,泰利,TALIM,NaN,2017-09-12 14:30:00,m,935.0,48.0,250.0,80.0,2017-09-14 20:30:00,19.0,2017
13,201717,谷超,GUCHOL,NaN,2017-09-06 10:30:00,w,998.0,18.0,80.0,NaN,2017-09-07 02:30:00,7.0,2017
14,201713,天鴿,HATO,NaN,2017-08-20 23:30:00,m,965.0,33.0,180.0,50.0,2017-08-22 17:30:00,15.0,2017
15,201710,海棠,HAITANG,7.0,2017-07-29 17:30:00,w,990.0,20.0,100.0,NaN,2017-07-31 08:30:00,14.0,2017
16,201709,尼莎,NESAT,2.0,2017-07-28 08:30:00,m,955.0,40.0,180.0,60.0,2017-07-30 14:30:00,19.0,2017
17,201619,艾利,AERE,NaN,2016-10-05 11:30:00,w,998.0,18.0,120.0,NaN,2016-10-06 14:30:00,10.0,2016
18,201617,梅姬,MEGI,3.0,2016-09-25 23:30:00,m,940.0,45.0,250.0,100.0,2016-09-28 17:30:00,23.0,2016
19,201616,馬勒卡,MALAKAS,NaN,2016-09-15 23:30:00,m,940.0,45.0,180.0,60.0,2016-09-18 08:30:00,20.0,2016
20,201614,莫蘭蒂,MERANTI,7.0,2016-09-12 23:30:00,s,900.0,60.0,220.0,80.0,2016-09-15 11:30:00,21.0,2016
21,201601,尼伯特,NEPARTAK,4.0,2016-07-06 14:30:00,s,905.0,58.0,200.0,80.0,2016-07-09 14:30:00,25.0,2016
22,201521,杜鵑,DUJUAN,2.0,2015-09-27 08:30:00,s,925.0,51.0,220.0,80.0,2015-09-29 17:30:00,20.0,2015
23,201515,天鵝,GONI,NaN,2015-08-20 17:30:00,s,925.0,51.0,200.0,80.0,2015-08-23 20:30:00,26.0,2015
24,201513,蘇迪勒,SOUDELOR,3.0,2015-08-06 11:30:00,m,930.0,48.0,300.0,100.0,2015-08-09 08:30:00,24.0,2015
25,201510,蓮花,LINFA,NaN,2015-07-06 08:30:00,w,975.0,30.0,120.0,30.0,2015-07-09 05:30:00,24.0,2015
26,201509,昌鴻,CHAN-HOM,NaN,2015-07-09 05:30:00,m,935.0,48.0,280.0,100.0,2015-07-11 11:30:00,19.0,2015
27,201506,紅霞,NOUL,NaN,2015-05-10 08:30:00,s,925.0,51.0,200.0,80.0,2015-05-11 20:30:00,13.0,2015
28,201416,鳳凰,FUNG-WONG,10.0,2014-09-19 08:30:00,w,985.0,25.0,150.0,NaN,2014-09-22 08:30:00,25.0,2014
29,201410,麥德姆,MATMO,3.0,2014-07-21 17:30:00,m,960.0,38.0,200.0,80.0,2014-07-23 23:30:00,19.0,2014
30,201407,哈吉貝,HAGIBIS,NaN,2014-06-14 23:30:00,w,992.0,20.0,100.0,NaN,2014-06-15 17:30:00,7.0,2014
31,201323,菲特,FITOW,1.0,2013-10-04 23:30:00,m,960.0,38.0,250.0,80.0,2013-10-07 08:30:00,20.0,2013
32,201319,天兔,USAGI,5.0,2013-09-19 23:30:00,s,910.0,55.0,280.0,120.0,2013-09-22 14:30:00,22.0,2013
33,201315,康芮,KONG-REY,6.0,2013-08-27 11:30:00,w,985.0,25.0,120.0,0.0,2013-08-29 20:30:00,20.0,2013
34,201315,康芮,KONG-REY,6.0,2013-08-27 11:30:00,w,985.0,25.0,120.0,NaN,2013-08-29 20:30:00,NaN,2013
35,201312,潭美,TRAMI,1.0,2013-08-20 11:30:00,w,970.0,30.0,180.0,NaN,2013-08-22 08:30:00,16.0,2013
36,201312,潭美,TRAMI,1.0,2013-08-20 11:30:00,w,970.0,30.0,180.0,50.0,2013-08-22 08:30:00,NaN,2013
37,201308,西馬隆,CIMARON,NaN,2013-07-17 10:30:00,w,998.0,18.0,100.0,NaN,2013-07-18 11:30:00,10.0,2013
38,201307,蘇力,SOULIK,2.0,2013-07-11 08:30:00,s,925.0,51.0,280.0,100.0,2013-07-13 23:30:00,22.0,2013
39,201307,蘇力,SOULIK,2.0,2013-07-11 08:30:00,s,925.0,51.0,280.0,100.0,2013-07-13 23:30:00,NaN,2013
40,201217,杰拉華,JELAWAT,NaN,2012-09-27 02:30:00,s,910.0,55.0,250.0,100.0,2012-09-28 20:30:00,15.0,2012
41,201214,天秤,TEMBIN,10.0,2012-08-21 14:30:00,m,945.0,45.0,180.0,50.0,2012-08-25 14:30:00,33.0,2012
42,201214,天秤,TEMBIN,10.0,2012-08-26 11:30:00,m,945.0,35.0,180.0,50.0,2012-08-28 23:30:00,21.0,2012
43,201213,啟德,KAI-TAK,NaN,2012-08-14 14:30:00,w,995.0,20.0,150.0,NaN,2012-08-15 17:30:00,10.0,2012
44,201211,海葵,HAIKUI,NaN,2012-08-06 11:30:00,m,960.0,35.0,180.0,50.0,2012-08-07 17:30:00,11.0,2012
45,201209,蘇拉,SAOLA,2.0,2012-07-30 20:30:00,m,960.0,38.0,220.0,80.0,2012-08-03 14:30:00,31.0,2012
46,201206,杜蘇芮,DOKSURI,NaN,2012-06-28 05:30:00,w,995.0,23.0,120.0,NaN,2012-06-29 08:30:00,10.0,2012
47,201205,泰利,TALIM,9.0,2012-06-19 05:30:00,w,985.0,25.0,150.0,NaN,2012-06-21 05:30:00,17.0,2012
48,201111,南瑪都,NANMADOL,4.0,2011-08-27 05:30:00,s,920.0,53.0,180.0,50.0,2011-08-31 08:30:00,34.0,2011
49,201109,梅花,MUIFA,NaN,2011-08-04 17:30:00,m,928.0,43.0,280.0,100.0,2011-08-06 11:30:00,15.0,2011

In [7]:
# 先不論侵襲路線
df_typhoon.columns

Index(['颱風編號', '中文名稱', '英文名稱', '侵臺路徑分類', '海上警報開始時間', '近臺強度', '近臺最低氣壓(hPa)',
       '近臺最大風速(m/s)', '近臺7級風暴風半徑(km)', '近臺10級風暴風半徑(km)', '海上警報結束時間', '警報發布報數',
       'Year'],
      dtype='object')

In [8]:
df_typhoon_test = df_typhoon[["英文名稱", "海上警報開始時間", "近臺強度", "警報發布報數"]]

In [9]:
df_typhoon_test

         英文名稱             海上警報開始時間 近臺強度  警報發布報數
0    CHOI-WAN  2021-06-03 16:00:00    w    11.0
1      ATSANI  2020-11-05 08:30:00    w    19.0
2        BAVI  2020-08-22 10:30:00    w     6.0
3    MEKKHALA  2020-08-10 10:30:00    w    11.0
4     HAGUPIT  2020-08-02 05:30:00    m    15.0
5    VONGFONG  2020-05-16 11:30:00    m     8.0
6       MITAG  2019-09-29 08:30:00    m    18.0
7       BAILU  2019-08-23 05:30:00    w    19.0
8      LEKIMA  2019-08-07 17:30:00    s    22.0
9       DANAS  2019-07-16 23:30:00    w    15.0
10   MANGKHUT  2018-09-14 11:30:00    s    12.0
11      MARIA  2018-07-09 14:30:00    s    17.0
12      TALIM  2017-09-12 14:30:00    m    19.0
13     GUCHOL  2017-09-06 10:30:00    w     7.0
14       HATO  2017-08-20 23:30:00    m    15.0
15    HAITANG  2017-07-29 17:30:00    w    14.0
16      NESAT  2017-07-28 08:30:00    m    19.0
17       AERE  2016-10-05 11:30:00    w    10.0
18       MEGI  2016-09-25 23:30:00    m    23.0
19    MALAKAS  2016-09-15 23:30:00    m    20.0
20    MERANTI  2016-09-12 23:30:00    s    21.0
21   NEPARTAK  2016-07-06 14:30:00    s    25.0
22     DUJUAN  2015-09-27 08:30:00    s    20.0
23       GONI  2015-08-20 17:30:00    s    26.0
24   SOUDELOR  2015-08-06 11:30:00    m    24.0
25      LINFA  2015-07-06 08:30:00    w    24.0
26   CHAN-HOM  2015-07-09 05:30:00    m    19.0
27       NOUL  2015-05-10 08:30:00    s    13.0
28  FUNG-WONG  2014-09-19 08:30:00    w    25.0
29      MATMO  2014-07-21 17:30:00    m    19.0
30    HAGIBIS  2014-06-14 23:30:00    w     7.0
31      FITOW  2013-10-04 23:30:00    m    20.0
32      USAGI  2013-09-19 23:30:00    s    22.0
33   KONG-REY  2013-08-27 11:30:00    w    20.0
34   KONG-REY  2013-08-27 11:30:00    w     NaN
35     TRAMI   2013-08-20 11:30:00    w    16.0
36     TRAMI   2013-08-20 11:30:00    w     NaN
37    CIMARON  2013-07-17 10:30:00    w    10.0
38    SOULIK   2013-07-11 08:30:00    s    22.0
39    SOULIK   2013-07-11 08:30:00    s     NaN
40    JELAWAT  2012-09-27 02:30:00    s    15.0
41     TEMBIN  2012-08-21 14:30:00    m    33.0
42     TEMBIN  2012-08-26 11:30:00    m    21.0
43    KAI-TAK  2012-08-14 14:30:00    w    10.0
44     HAIKUI  2012-08-06 11:30:00    m    11.0
45      SAOLA  2012-07-30 20:30:00    m    31.0
46    DOKSURI  2012-06-28 05:30:00    w    10.0
47      TALIM  2012-06-19 05:30:00    w    17.0
48  NANMADOL   2011-08-27 05:30:00    s    34.0
49      MUIFA  2011-08-04 17:30:00    m    15.0
50      MEARI  2011-06-23 23:30:00    w    14.0
51     SONGDA  2011-05-27 02:30:00    s    13.0
52       AERE  2011-05-09 05:30:00    w    13.0

In [10]:
# 範例：df.drop_duplicates(subset=['brand', 'style'], keep='last')
df_typhoon_test = df_typhoon_test.drop_duplicates(subset=["英文名稱", "海上警報開始時間"], keep="first")

In [11]:
df_typhoon_test["海上警報開始時間"] = df_typhoon_test["海上警報開始時間"].apply(lambda x:x.split(" ")[0])
df_typhoon_test["海上警報開始時間"] = pd.to_datetime(df_typhoon_test["海上警報開始時間"], format='%Y-%m-%d')

<ipython-input-11-0bfd88a73461>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_typhoon_test["海上警報開始時間"] = df_typhoon_test["海上警報開始時間"].apply(lambda x:x.split(" ")[0])
<ipython-input-11-0bfd88a73461>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_typhoon_test["海上警報開始時間"] = pd.to_datetime(df_typhoon_test["海上警報開始時間"], format='%Y-%m-%d')

In [12]:
df_typhoon_test.to_csv("cleaned data/typhoon_tmp.csv", index=False)

### 合併入分析用資料中
- 影響菜價時間暫定為前後3天
- 強度轉為數值 => 0~3(弱～強)

In [136]:
# 讀取2011年以後的颱風資料
df_typhoon = pd.read_csv("cleaned data/typhoon_tmp.csv")
df_typhoon.head()

       英文名稱    海上警報開始時間 近臺強度  警報發布報數
0  CHOI-WAN  2021-06-03    w    11.0
1    ATSANI  2020-11-05    w    19.0
2      BAVI  2020-08-22    w     6.0
3  MEKKHALA  2020-08-10    w    11.0
4   HAGUPIT  2020-08-02    m    15.0

In [137]:
# 給予編號 => 稍後與影響時間df合併
df_typhoon["編號"] = df_typhoon.index
df_typhoon.head()

       英文名稱    海上警報開始時間 近臺強度  警報發布報數  編號
0  CHOI-WAN  2021-06-03    w    11.0   0
1    ATSANI  2020-11-05    w    19.0   1
2      BAVI  2020-08-22    w     6.0   2
3  MEKKHALA  2020-08-10    w    11.0   3
4   HAGUPIT  2020-08-02    m    15.0   4

In [139]:
# 將菜價影響時間暫定為正負3天，共5天 => 前3天為預期心理，後3天為影響時間
# 根據研究指出，一般會影響價格達數週 => https://www.coa.gov.tw/ws.php?id=22086&print=Y
time = []
num = []

n = 0
ty_time = df_typhoon["海上警報開始時間"].tolist()
for i in ty_time:
    x = pd.date_range(end=i, periods=3).tolist()
    y = pd.date_range(start=i, periods=3).tolist()
    output = sorted(list(set(x+y)), reverse=True) # 除去同天值，在排序
    time += output
    num += [str(n)]*len(output)
    n += 1 

# create df
df_test = pd.DataFrame({"日期": time,
                        "編號": num
                       })
df_test.head(10)

          日期 編號
0 2021-06-05  0
1 2021-06-04  0
2 2021-06-03  0
3 2021-06-02  0
4 2021-06-01  0
5 2020-11-07  1
6 2020-11-06  1
7 2020-11-05  1
8 2020-11-04  1
9 2020-11-03  1

In [140]:
# 將編號由字串轉為int => 應該有更好寫法
df_test["編號"] = df_test["編號"].astype("int")

In [141]:
# 合併＆刪除一些不必要欄位
df1 = pd.merge(df_typhoon, df_test, on="編號", how="left").drop(columns=["英文名稱", "海上警報開始時間", "編號"])
df1

    近臺強度  警報發布報數         日期
0      w    11.0 2021-06-05
1      w    11.0 2021-06-04
2      w    11.0 2021-06-03
3      w    11.0 2021-06-02
4      w    11.0 2021-06-01
..   ...     ...        ...
245    w    13.0 2011-05-11
246    w    13.0 2011-05-10
247    w    13.0 2011-05-09
248    w    13.0 2011-05-08
249    w    13.0 2011-05-07

[250 rows x 3 columns]

In [142]:
# 讀取分析資料
df2 = pd.read_csv("analysis data/台中_香蕉合併資料(價格&天氣).csv")
df2

,日期,Market,Product,High price,Mid price,Low price,Average price,Volume(kg),Price change rate,Volume change rate,...,PrecpHour,PrecpMax10,PrecpMax60,SunShine,SunShineRate,GloblRad,VisbMean,EvapA,UVI Max,Cloud Amount
0,2011-01-01,400 台中市,A1 香蕉,29.4,22.9,12.9,22.1,23713,0.00,0.00,...,0.0,0.0,0.0,9.6,90.2,12.96,10.0,1.8,5,1.3
1,2011-01-02,400 台中市,A1 香蕉,27.1,22.4,14.3,21.7,27072,-0.02,0.14,...,0.0,0.0,0.0,9.7,91.1,13.20,10.8,2.0,6,1.7
2,2011-01-03,400 台中市,A1 香蕉,27.1,22.4,14.3,21.7,27072,0.00,0.00,...,0.0,0.0,0.0,1.1,10.3,3.39,11.0,0.4,3,8.8
3,2011-01-04,400 台中市,A1 香蕉,29.6,22.9,14.6,24.9,67785,0.15,1.50,...,0.0,0.0,0.0,6.4,60.0,11.96,14.0,-1.4,6,5.8
4,2011-01-05,400 台中市,A1 香蕉,27.3,22.3,16.0,23.6,34038,-0.05,-0.50,...,4.4,0.5,0.5,5.1,47.8,10.17,17.0,-1.2,6,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,2021-06-10,400 台中市,A1 香蕉,25.8,23.2,13.8,23.1,30348,0.00,0.20,...,6.2,2.5,6.0,4.4,32.5,16.21,22.5,-2.8,8,7.2
3814,2021-06-11,400 台中市,A1 香蕉,26.0,23.8,17.0,23.7,20520,0.03,-0.32,...,0.3,0.5,0.5,3.8,28.1,16.23,25.5,-2.0,9,7.5
3815,2021-06-12,400 台中市,A1 香蕉,26.2,18.6,11.9,22.7,28971,-0.04,0.41,...,6.2,7.5,14.5,2.8,20.7,14.51,7.5,-3.1,9,7.8
3816,2021-06-13,400 台中市,A1 香蕉,27.5,23.0,15.0,23.7,20250,0.04,-0.30,...,1.7,5.5,11.5,4.9,35.4,20.10,22.5,-3.9,9,6.2
3817,2021-06-14,400 台中市,A1 香蕉,28.8,24.1,16.8,25.0,11775,0.05,-0.42,...,0.0,0.0,0.0,6.3,46.5,22.43,25.8,4.2,10,5.8

In [144]:
df2["日期"] = pd.to_datetime(df2["日期"])

In [177]:
# 合併
df3 = pd.merge(df2, df1, on="日期", how="left")

In [173]:
df3.tail(10)

,日期,Market,Product,High price,Mid price,Low price,Average price,Volume(kg),Price change rate,Volume change rate,...,PrecpMax60,SunShine,SunShineRate,GloblRad,VisbMean,EvapA,UVI Max,Cloud Amount,近臺強度,警報發布報數
3816,2021-06-05,400 台中市,A1 香蕉,25.0,20.6,9.2,21.6,25046,0.02,-0.38,...,17.0,0.1,0.7,7.79,14.7,-0.6,4,9.4,w,11.0
3817,2021-06-06,400 台中市,A1 香蕉,25.0,22.1,11.6,23.3,21525,0.08,-0.14,...,12.5,0.0,0.0,4.83,8.1,-0.5,4,9.8,NaN,NaN
3818,2021-06-07,400 台中市,A1 香蕉,25.0,22.1,11.6,23.3,21525,0.00,0.00,...,0.0,0.8,5.9,12.36,23.3,2.3,7,9.2,NaN,NaN
3819,2021-06-08,400 台中市,A1 香蕉,24.7,16.3,9.9,20.9,32198,-0.10,0.50,...,8.5,3.8,28.1,14.53,18.4,-2.9,9,8.8,NaN,NaN
3820,2021-06-09,400 台中市,A1 香蕉,25.7,22.0,11.3,23.2,25376,0.11,-0.21,...,1.5,4.3,31.8,16.13,28.3,-2.3,11,7.5,NaN,NaN
3821,2021-06-10,400 台中市,A1 香蕉,25.8,23.2,13.8,23.1,30348,0.00,0.20,...,6.0,4.4,32.5,16.21,22.5,-2.8,8,7.2,NaN,NaN
3822,2021-06-11,400 台中市,A1 香蕉,26.0,23.8,17.0,23.7,20520,0.03,-0.32,...,0.5,3.8,28.1,16.23,25.5,-2.0,9,7.5,NaN,NaN
3823,2021-06-12,400 台中市,A1 香蕉,26.2,18.6,11.9,22.7,28971,-0.04,0.41,...,14.5,2.8,20.7,14.51,7.5,-3.1,9,7.8,NaN,NaN
3824,2021-06-13,400 台中市,A1 香蕉,27.5,23.0,15.0,23.7,20250,0.04,-0.30,...,11.5,4.9,35.4,20.10,22.5,-3.9,9,6.2,NaN,NaN
3825,2021-06-14,400 台中市,A1 香蕉,28.8,24.1,16.8,25.0,11775,0.05,-0.42,...,0.0,6.3,46.5,22.43,25.8,4.2,10,5.8,NaN,NaN

In [178]:
# 新增欄位：有颱風為1，無颱風為0 => 取代名稱（暫）
df3["typhoon"] = df3["警報發布報數"].apply(lambda x: 1 if x>0 else 0)

In [179]:
# 將沒有颱風時的近臺強度,警報發布報數改為0，然後有颱風的近臺強度用np.where把強度以數值替代
df3.loc[~(df3["警報發布報數"] > 0), "警報發布報數"] = 0

In [180]:
df3["近臺強度"].unique()

array([nan, 'w', 's', 'm'], dtype=object)

In [181]:
condition = [
    (df3["近臺強度"] == np.nan),
    (df3["近臺強度"] == "w"),
    (df3["近臺強度"] == "m"),
    (df3["近臺強度"] == "s"),
]
result = [0, 1,2,3]

df3["近臺強度"] = np.select(condition, result)

In [185]:
df3

,日期,Market,Product,High price,Mid price,Low price,Average price,Volume(kg),Price change rate,Volume change rate,...,SunShine,SunShineRate,GloblRad,VisbMean,EvapA,UVI Max,Cloud Amount,近臺強度,警報發布報數,typhoon
0,2011-01-01,400 台中市,A1 香蕉,29.4,22.9,12.9,22.1,23713,0.00,0.00,...,9.6,90.2,12.96,10.0,1.8,5,1.3,0,0.0,0
1,2011-01-02,400 台中市,A1 香蕉,27.1,22.4,14.3,21.7,27072,-0.02,0.14,...,9.7,91.1,13.20,10.8,2.0,6,1.7,0,0.0,0
2,2011-01-03,400 台中市,A1 香蕉,27.1,22.4,14.3,21.7,27072,0.00,0.00,...,1.1,10.3,3.39,11.0,0.4,3,8.8,0,0.0,0
3,2011-01-04,400 台中市,A1 香蕉,29.6,22.9,14.6,24.9,67785,0.15,1.50,...,6.4,60.0,11.96,14.0,-1.4,6,5.8,0,0.0,0
4,2011-01-05,400 台中市,A1 香蕉,27.3,22.3,16.0,23.6,34038,-0.05,-0.50,...,5.1,47.8,10.17,17.0,-1.2,6,7.0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3821,2021-06-10,400 台中市,A1 香蕉,25.8,23.2,13.8,23.1,30348,0.00,0.20,...,4.4,32.5,16.21,22.5,-2.8,8,7.2,0,0.0,0
3822,2021-06-11,400 台中市,A1 香蕉,26.0,23.8,17.0,23.7,20520,0.03,-0.32,...,3.8,28.1,16.23,25.5,-2.0,9,7.5,0,0.0,0
3823,2021-06-12,400 台中市,A1 香蕉,26.2,18.6,11.9,22.7,28971,-0.04,0.41,...,2.8,20.7,14.51,7.5,-3.1,9,7.8,0,0.0,0
3824,2021-06-13,400 台中市,A1 香蕉,27.5,23.0,15.0,23.7,20250,0.04,-0.30,...,4.9,35.4,20.10,22.5,-3.9,9,6.2,0,0.0,0
3825,2021-06-14,400 台中市,A1 香蕉,28.8,24.1,16.8,25.0,11775,0.05,-0.42,...,6.3,46.5,22.43,25.8,4.2,10,5.8,0,0.0,0

In [187]:
df3.to_csv("analysis data/台中_香蕉合併資料(價格&天氣&颱風).csv", index=False)