In [10]:
import pandas as pd
import re

In [2]:
df_cal = pd.read_csv("../data/Calender.csv")

In [7]:
df_cal.head(15)

   SolarCalendar LunarCalendar Week SolarTerms
0     2000-01-01        十一月廿五日  星期六        NaN
1     2000-01-02        十一月廿六日  星期日        NaN
2     2000-01-03        十一月廿七日  星期一        NaN
3     2000-01-04        十一月廿八日  星期二        NaN
4     2000-01-05        十一月廿九日  星期三        NaN
5     2000-01-06        十一月三十日  星期四         小寒
6     2000-01-07        十二月初一日  星期五        NaN
7     2000-01-08        十二月初二日  星期六        NaN
8     2000-01-09        十二月初三日  星期日        NaN
9     2000-01-10        十二月初四日  星期一        NaN
10    2000-01-11        十二月初五日  星期二        NaN
11    2000-01-12        十二月初六日  星期三        NaN
12    2000-01-13        十二月初七日  星期四        NaN
13    2000-01-14        十二月初八日  星期五        NaN
14    2000-01-15        十二月初九日  星期六        NaN

In [6]:
df_cal["SolarCalendar"] = pd.to_datetime(df_cal["SolarCalendar"], format="%Y-%m-%d")

In [20]:
num_dict = {'一':1, '二':2, '三':3, '四':4, '五':5,
            '六':6, '七':7, '八':8, '九':9, '十':10}

def lunar_day(text):
    if text[0] == "初":
        return num_dict[text[1]]
    elif text[0] == "十":
        return 10 + num_dict[text[1]]
    elif text[0] == "廿":
        return 20 + num_dict[text[1]]
    elif text in ["三十", "二十"]:
        return num_dict[text[0]] * 10

0       25
1       26
2       27
3       28
4       29
        ..
8031    24
8032    25
8033    26
8034    27
8035    28
Name: LunarDay, Length: 8036, dtype: int64

### 轉化農曆日為數值

In [21]:
df_cal["LunarDay"] = df_cal["LunarCalendar"].apply(lambda x: re.findall("月(.*)日", x)[0])
df_cal["LunarDay"] = df_cal["LunarDay"].apply(lunar_day)

In [22]:
df_cal

     SolarCalendar LunarCalendar Week SolarTerms  LunarDay
0       2000-01-01        十一月廿五日  星期六        NaN        25
1       2000-01-02        十一月廿六日  星期日        NaN        26
2       2000-01-03        十一月廿七日  星期一        NaN        27
3       2000-01-04        十一月廿八日  星期二        NaN        28
4       2000-01-05        十一月廿九日  星期三        NaN        29
...            ...           ...  ...        ...       ...
8031    2021-12-27        十一月廿四日  星期一        NaN        24
8032    2021-12-28        十一月廿五日  星期二        NaN        25
8033    2021-12-29        十一月廿六日  星期三        NaN        26
8034    2021-12-30        十一月廿七日  星期四        NaN        27
8035    2021-12-31        十一月廿八日  星期五        NaN        28

[8036 rows x 5 columns]

### 初一